.contenedor-lateral{
    height: 100vh;
    width: 100%;
    border-right: 0.5px solid #E5E5E5;
    padding-right: 15px ;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 0.3px solid #E5E5E5;
}

.perfil img{
    height: 130px;
    width: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.perfil p{
    font-size: 25px;
    font-weight: bold;
}

.opciones{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 0.3px solid #E5E5E5;
}

.opciones p{
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
    border-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.opciones p:hover{
    background-color: #E1FFAE ;
    color: #688E26;
    font-weight: 500;

}

.acciones{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.acciones h2{
    font-size: 22px;
    font-weight: 500;
    color: #688E26;
    margin-bottom: 20px;
    text-decoration: underline;
}
.acciones p{
    font-size: 18px;
    font-weight: 300;
    padding-left: 10px;
    border-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.acciones p:hover{
    background-color: #E1FFAE ;
    color: #688E26;
    font-weight: 500;

}


.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.logo img{
    width: 100px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: -20px;
}

.logo p{
    font-size: 22px;
    font-weight: 600;
    color: #688E26;
    letter-spacing: 3px;
}

