<div class="contenedor-lateral" >
    <div class="perfil">
        <img src="../../../assets/images/fotos perfil/admin.jpg" alt="">
        <p>Super Admin.</p>
    </div>
    <div class="opciones">
        <p> Dashboard</p>
        <p> Comercios</p>
        <p> Motoristas</p>
        <p> Usuarios</p>
    </div>
    <div class="acciones">
        <h2>Opciones:</h2>
        <p>Configuraciones</p>
        <p>Notificaciones</p>
        <p>Cerrar Sesión</p>
    </div>
    <div class="logo">
        <img src="../../../assets/images/LogoFastMarket2.svg" alt="">
        <p>Fast Market</p>
    </div>
</div>
