<div class="contenedor-lateral" >
    <div class="perfil">
        <img src="../../../assets/images/fotos perfil/admin.jpg" alt="">
        <p>Super Admin.</p>
    </div>
    <div class="opciones">
        <p (click)="verCategorias()"> <fa-icon class=" mr-2" [icon]="faChartPie"></fa-icon> Categorias</p>
        <p (click)="verComercios()"> <fa-icon class=" mr-2" [icon]="faStore"></fa-icon> Comercios</p>
        <p (click)="verMotoristas()"> <fa-icon class=" mr-2" [icon]="faMotorcycle"></fa-icon> Motoristas</p>
        <p (click)="verUsuarios()"> <fa-icon class=" mr-2" [icon]="faUser"></fa-icon> Usuarios</p>
        <p (click)="verPendientes()" > <fa-icon class=" mr-2" [icon]="faClock"></fa-icon> Ordenes Pendientes</p>
        <p (click)="verHistorial()" > <fa-icon class=" mr-2" [icon]="faHistory"></fa-icon> Historial de Ordenes </p>
    </div>
    
    <div class="logo">
        <img src="../../../assets/images/LogoFastMarket2.svg" alt="">
        <p>Fast Market</p>
    </div>
</div>
