<div class="contenedor container-fluid row">
    <div class="logo col-6">
        <img src="../../../assets/images/logoverde.svg" alt="">
        <h1> Fast Market</h1>
    </div>
    <div class="formulario col-6">
        <div class="contenedor-login">

            <img class="img-login" src="../../../assets/images/login undraw.svg" alt="">
        
            <form [formGroup]="formularioLogin" class="formulario">
                <div class="correo">
                    <p class="form-label">Usuario:</p>
                    <input  formControlName="Usuario" class="form-control" placeholder="Usuario" type="email">
                </div>
                <div class="contraseña">
                    <p class="form-label" >Contraseña:</p>
                    <input  formControlName="Contraseña" class="form-control" placeholder="contraseña" type="password">
                </div>
                <button [disabled]="!formularioLogin.valid" (click)="iniciarSesion()"  type="button" class="btn btn-success"> Iniciar Session </button>
                
            </form>
        </div>
        
    </div>
</div>