.titulo{
    color: #688E26;
    margin-bottom: 50px;
}

th{
    color: #688E26;
}

.estado-a{
    width: fit-content;
    padding: 2px;
    background-color: #28a745;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}