.titulo{
    color: #688E26;
    margin-bottom: 50px;
}

.titulo-categoria{
    color: #FAA613;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.agg-comercio{
    margin-right: 30px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #28a745;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

th{
    color: #688E26;
}
table td{
    font-size: 18px;
    vertical-align: middle!important;
}

.ver{
    margin-bottom: 40px;
}

.estado-a{
    width: fit-content;
    padding: 2px;
    background-color: #28a745;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.comercios:hover{
    background-color: #E1FFAE ;
    cursor: pointer;
}