.container-fluid{
    height: 100vh;
}

.contenedor-lateral{
    height: 100vh;
}

.dashboard{
    padding-top: 15px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F8F8F8;
    height: 90%;
}

.col-10, .col-2{
    padding: 0px;
    height: 100vh;
}


