<h2 class="titulo">Motoristas Afiliados</h2>
<table class="table table-striped shadow mb-5">
    <thead class="thead-dark">
        <tr>
            <th style="padding-left: 30px;" scope="col">Imagen Motoristas</th>
            <th scope="col">Nombre Motoristas</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Telefono</th>
            <th style="width: 115px;" scope="col">Historial de Ordenes</th>
            <th scope="col">Observacion</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let motorista of Motoristas">
            <th *ngIf="motorista.Aprobado != false" scope="row">
                <img class="rounded rounded-circle mx-auto d-block" style="object-fit: cover; height: 50px; width: 50px; " src="../../../assets/images/fotos perfil/{{motorista.ImagenMotorista}}" alt="">
            </th>
            <td *ngIf="motorista.Aprobado != false" >{{motorista.Nombre}}</td>
            <td *ngIf="motorista.Aprobado != false" >{{motorista.Correo}}</td>
            <td *ngIf="motorista.Aprobado != false" >{{motorista.Telefono}}</td>
            <td *ngIf="motorista.Aprobado != false"  style="text-align: center;" >{{motorista.HistorialOrdenes.length}}</td>
            <td *ngIf="motorista.Aprobado != false" > <p [ngClass]="{'estado-a': motorista.Observacion == 'Disponible', 'estado-i': motorista.Observacion == 'No Disponible', 'estado-co':  motorista.Observacion=='Con Orden'}">{{motorista.Observacion}}</p></td>
            <td *ngIf="motorista.Aprobado != false" > <p [ngClass]="{'estado-a': motorista.Estado == 'Activo', 'estado-i': motorista.Estado == 'Inactivo'}">{{motorista.Estado}}</p></td>
            <td *ngIf="motorista.Aprobado != false" > <fa-icon (click)="modalEditar(Motorista, motorista._id)" class="iconos edit" [icon]="faEdit"></fa-icon><fa-icon class="iconos delete" [icon]="faTrashAlt"></fa-icon></td>
        </tr>
    </tbody>
</table>

<h2 class="titulo">Motoristas Pendientes de Aprobación</h2>
<table class="table table-striped shadow">
    <thead class="thead-dark">
        <tr>
            <th style="padding-left: 30px;" scope="col">Imagen Motoristas</th>
            <th scope="col">Nombre Motoristas</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Telefono</th>
            <th scope="col">Observacion</th>
            <th scope="col">Estado</th>
            <th scope="col">Aprobación</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let motorista of Motoristas">
            <th *ngIf="motorista.Aprobado == false" scope="row">
                <img class="rounded rounded-circle mx-auto d-block" style="object-fit: cover; height: 50px; width: 50px; " src="../../../assets/images/fotos perfil/{{motorista.ImagenMotorista}}" alt="">
            </th>
            <td *ngIf="motorista.Aprobado == false">{{motorista.Nombre}}</td>
            <td *ngIf="motorista.Aprobado == false">{{motorista.Correo}}</td>
            <td *ngIf="motorista.Aprobado == false">{{motorista.Telefono}}</td>
            <td *ngIf="motorista.Aprobado == false"> <p [ngClass]="{'estado-a': motorista.Observacion == 'Disponible', 'estado-i': motorista.Observacion == 'No Disponible', 'estado-co':  motorista.Observacion=='Con Orden'}">{{motorista.Observacion}}</p></td>
            <td *ngIf="motorista.Aprobado == false"> <p [ngClass]="{'estado-a': motorista.Estado == 'Activo', 'estado-i': motorista.Estado == 'Inactivo'}">{{motorista.Estado}}</p></td>
            <td *ngIf="motorista.Aprobado == false"> <fa-icon (click)="aprobarmoto(motorista._id)" class="iconos edit" [icon]="faCheck"></fa-icon><fa-icon class="iconos delete" [icon]="faTimes"></fa-icon></td>        </tr>
    </tbody>
</table>


<!-- Ventana modal de editar motoristas -->
<ng-template #Motorista let-modal>
    <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Datos del Motorista</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body" >
        <form [formGroup]="formularioMotorista">
            Nombre: <input class="form-control" formControlName="Nombre" type="text" placeholder="Nombre Motorista" required><br>
            Placa: <input class="form-control" formControlName="Placa" type="text" placeholder="Placa Motorista" required><br>
            Imagen Motorista: <input class="form-control" formControlName="ImagenMotorista" type="file" placeholder="Imagen Motorista"><br>
            Correo: <input class="form-control" formControlName="Correo" type="email" placeholder="Correo "><br>
            Contraseña: <input class="form-control" formControlName="Contraseña" type="password" placeholder="Contraseña"><br>
            Telefono: <input class="form-control" formControlName="Telefono" type="text" placeholder="+504 (Telefono)"><br>
            Estado: <select class="form-select" formControlName="Estado" id="">
                <option class="form-control" [selected]="EstadoMotorista == 'Activo'" value="Activo">Activo</option>
                <option class="form-control" [selected]="EstadoMotorista == 'Inactivo'" value="Inactivo">Inactivo</option>
            </select>
        </form>
    </div>
    <div class="modal-footer container ">
        <button [disabled]="!formularioMotorista.valid" type="button" type="button" class="btn btn-success col-12" (click)=" editarMotorista(); modal.close('Save click');">Editar Motorista </button>
    </div>
</ng-template>