<h2 class="titulo"> <fa-icon (click)="verComercios()"  [icon]="faArrowLeft"></fa-icon> Productos de {{Comercio.NombreComercio}}</h2>
<div class="perfil-comercio shadow">
    <img src="../../../assets/images/{{Comercio.ImagenComercio}}" alt="">
    <div class="nombre"> {{Comercio.NombreComercio}}
        <div class="direccion"> {{Comercio.Direccion}}</div>
    </div>
    <div class="telefono">Teléfono: <br> 1122-3344</div>
    <div class="horario">Horario: <br> {{Comercio.Horario}}</div>
    <div class="envio">Envio: <br> L. {{Comercio.CostoEnvio}}</div>

</div>
<table class="table table-striped shadow">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Imagen Producto</th>
            <th scope="col">Nombre Producto</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of Productos">
            <th scope="row"> <img class="rounded rounded-circle mx-auto d-block" style="object-fit: cover; height: 50px; width: 50px; " src="../../../assets/images/productos/{{producto.ImagenProducto}}" alt=""> </th>
            <td>{{producto.NombreProducto}}</td>
            <td>{{producto.Descripcion}}</td>
            <td>{{producto.Precio}}</td>
            <td> <p class="estado-a">Activo </p></td>
        </tr>
    </tbody>
</table>