.titulo{
    color: #688E26;
    margin-bottom: 50px;
}

th{
    color: #688E26;
}
table td{
    font-size: 18px;
    vertical-align: middle!important;
}

.estado-a{
    width: fit-content;
    padding: 2px;
    background-color: #28a745;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.estado-i{
    width: fit-content;
    padding: 2px;
    background-color: #dc3545;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.comercios:hover{
    background-color: #E1FFAE ;
    cursor: pointer;
}

.perfil-comercio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    margin-bottom: 30px;
}

.perfil-comercio img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.perfil-comercio .nombre{
    font-size: 25px;
    font-weight: bold;
}

.perfil-comercio .direccion{
    font-size: 16px;
    font-weight: normal;
}

.titulo fa-icon{
    cursor: pointer;
}

.agg-producto{
    margin-right: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #28a745;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.edit-perfil{
    margin-right: -80px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #ffc107;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.iconos{
    font-size: 22px;
    margin-left: 10px;
    cursor: pointer;
}

.edit{
    color: #28a745;
}

.delete{
    color: #dc3545;
}