.titulo{
    color: #688E26;
    margin-bottom: 50px;
}

th{
    color: #688E26;
}

table td{
    font-size: 18px;
    vertical-align: middle!important;
}



.estado-p{
    width: 105px;
    height: 35px;
    background-color: #dc3545;
    color: white;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin:0px;
}

p.estado-a {
    margin-right: 0px;
    margin-bottom: 0px;
}

.iconos{
    font-size: 22px;
    margin-left: 10px;
    cursor: pointer;
}

.edit{
    color: #28a745;
}

.delete{
    color: #dc3545;
}


.orden:hover{
    background-color: #E1FFAE ;
    cursor: pointer;
}

.noTomada{
    color: #dc3545;
}

.icon-noTomada{
    font-size: 22px;
    margin-left: 10px;
    color: gray;
    cursor: default;
}

.no-cursor{
    cursor:  default;
}
.contenedor-orden{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-producto{
    width: 70px;
    max-width: 70px;
    height: 70px;
    max-height: 70px;
    object-fit: cover;
    margin-right: 5px;
    border-radius: 10px;
    
}

.producto{
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    width: 90%;
    align-items: center;
    box-sizing:border-box;
    border-radius: 10px;
    margin-bottom: 10px;
}

.datos-producto{
    width: 150px;
    height: 45px;
    color: #688E26;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    padding-top: 10px;

}

.datos-producto p{
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
}


.datos-producto .nombre-producto{
    font-size: 15px;
    margin-left: 15px;
    flex: 1;

}

.datos-producto  .precio{
    font-size: 17px;
    font-weight: bold;
    margin-left: 20px;
    min-width: 50px;
}
.datos-producto  .comercio{
    font-size: 20px;
    font-weight: bold;
    color: #FAA613;
}

.datos-producto .direccion{
    font-size: 12px;
}

.datos-producto .sub-contenedor{
    display: flex;
    align-items: center;
}

.cantidad {
    color: #FAA613;
}

.modal-title{
    color: #688E26;
}

.modal-footer{
    justify-content:center;
    width: 100%!important;
}
.totales{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #688E26;
    width: 100%;
    padding-bottom: 20px;
}

.totales .form-label{
    color: #FAA613;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.totales p{
    color: #688E26;
    font-size: 17px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
}

.subtotales{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.total{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.btn-success{
    width: 100%;
    background-color: #688E26;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    border-color: none;
}


.productos-carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    background-color: #FAA613;
    color: white;
    width: 20px;
    height: 20px;
    margin-left: -30px;
    margin-right: 15px;
    margin-top: -5px;
    font-weight: bold;
    font-size: 15px;
}


.datos-usuario{
    display: flex;
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.datos{
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}
.datos label{
    font-size: 15px;
    color: gray;
    font-weight: 500;
    margin-bottom: 0px;
}
.datos .Nombre{
    font-size: 18px;
    color: #688E26;
    font-weight: bold;
}

.titulo-orden{
    color: rgb(63, 63, 63);
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-right: auto;
    margin-left: 30px;
    text-decoration: underline;
}
.contenedor-ubicacion{
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mapa{
    background-color: white;
    width: 95%;
    height: 100%;
    border-radius: 20px;
}