<h2 class="titulo">Historial de Ordenes</h2>
<table class="table table-striped shadow">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Comercio</th>
            <th scope="col">Usuario</th>
            <th scope="col">Motorista</th>
            <th scope="col">Cant. Productos</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr class="orden" *ngFor="let orden of ordenes" (click)="abrirOrden(Orden, orden._id)" >
            <th *ngIf=" orden.estado == 'Pendiente' " scope="row">
                <img class="rounded rounded-circle mx-auto d-block" style="object-fit: cover; height: 50px; width: 50px; " src="../../../assets/images/{{orden.productos[0]._id[0].Comercio[0].ImagenComercio}}" alt="">
            </th>
            <td *ngIf=" orden.estado == 'Pendiente' " >{{orden.usuario[0].NombreUsuario}}</td>
            
            <td *ngIf="orden.motorista == null" [ngClass]="{'noTomada': orden.motorista == null}">Orden No Tomada.</td>
            <td *ngIf=" orden.estado == 'Pendiente' && orden.motorista != null" >{{orden.motorista[0].Nombre}}</td>
            <td style="text-align: center;" *ngIf=" orden.estado == 'Pendiente' " >{{orden.productos.length}}</td>
            <td *ngIf=" orden.estado == 'Pendiente' " >{{orden.fecha}}</td>
            <td *ngIf=" orden.estado == 'Pendiente' " > <p [ngClass]="{'estado-e': orden.estado == 'Entregado', 'estado-p': orden.estado == 'Pendiente', 'estado-c': false}" >{{orden.estado}}</p></td>
            <td class="no-cursor" *ngIf=" orden.estado == 'Pendiente' " > <fa-icon [ngClass]="{'icon-noTomada': orden.motorista != null, 'iconos edit': orden.motorista == null}" [icon]="faUserPlus"></fa-icon><fa-icon class="iconos delete" [icon]="faTrashAlt"></fa-icon></td>
        </tr>
    </tbody>
</table>




<!-- Ventana modal de carrito de compras -->
<ng-template #Orden let-modal>
    <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detalle de la Orden</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div *ngIf="OrdenPendiente.length != 0" class="modal-body">
        <div class="contenedor-orden">
            <div class="titulo-orden"> Usuario: </div>
            <div class=" shadow-sm datos-usuario">
                <img class="img-producto" src="../../../assets/images/fotos perfil/{{OrdenPendiente[0].usuario[0].ImagenUsuario}}">
                <div class="datos">
                    
                <label class="Nombre">{{OrdenPendiente[0].usuario[0].NombreUsuario}}</label>
                <label >{{OrdenPendiente[0].usuario[0].Ubicacion.NombreUbicacion}}</label>
                <label >{{OrdenPendiente[0].usuario[0].Telefono}}</label>
                </div>
            </div>
            <div class="titulo-orden"> Productos de la Orden: </div>
            <div class="producto shadow" *ngFor="let producto of OrdenPendiente[0].productos">
                <img class="img-producto" src="../../../assets/images/productos/{{producto._id[0].ImagenProducto}}" alt="Restaurantes">
                <div class="datos-producto">
                    <div class="comercio"> {{producto._id[0].Comercio[0].NombreComercio}}</div>
                    <div class="sub-contenedor">
                        <div class="cantidad rounded rounded-circle" >{{producto.cantidad}}</div>
                        <div class="nombre-producto"> {{producto._id[0].NombreProducto}}</div>
                        <div class="precio"> L. {{producto._id[0].Precio}}</div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    <div class="modal-footer container ">
        <div class="totales row ">
            <div class="subtotales col-6">
                <div class="form-label">Subtotal:</div>
                <p>L. {{subtotal}} </p>
                <div class="form-label">Costo de Envío:</div>
                <p>L.{{OrdenPendiente[0].productos[0]._id[0].Comercio[0].CostoEnvio}} </p>
            </div>
            <div class="total col-6">
                <div class="form-label">Total Pagar:</div>
                <p>L. {{OrdenPendiente[0].productos[0]._id[0].Comercio[0].CostoEnvio + subtotal}} </p>
            </div>
        </div>
        <button type="button" class="btn btn-success col-12" (click)="modal.close('Save click');">Cerrar </button>
    </div>
</ng-template>