.contenedor-categorias{
    padding-left: 50px;
    padding-right: 50px;
}
.titulo{
    color: #688E26;
    margin-bottom: 50px;
}

th{
    color: #688E26;
}

table td{
    font-size: 18px;
    vertical-align: middle!important;
}

.estado-a{
    width: fit-content;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.estado-i{
    width: fit-content;
    height: 35px;
    background-color: #dc3545;
    color: white;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin:0px;
}

p.estado-a {
    margin-right: 0px;
    margin-bottom: 0px;
}

.iconos{
    font-size: 22px;
    margin-left: 10px;
    cursor: pointer;
}

.edit{
    color: #28a745;
}

.delete{
    color: #dc3545;
}